<!DOCTYPE html>
<html lang="en">

<head>
    <% include ../partials/head %>
</head>

<body>
    <div class="container">
        <header>
            <h1>Oops! ¯\_(ツ)_/¯</h1>
        </header>
        <main>
            <h2><%= errorType %></h2>
            <h2><%= errorMessage %></h2>

        </main>
    </div>

    <% include ../partials/scripts %>
</body>

</html>