<!DOCTYPE html>
<html lang="en">

<head>
    <% include ../partials/head %>
</head>

<body>
    <div class="container">
        <header>
        </header>
        <main>
            <h2><%= pageTitle %></h2>
            <hr/>
            <div class="row">
                <form action="/find-events" method="GET" class="col-md-6">
                    <div class="form-group">
                        <button type="submit" class="btn btn-default">Join Public Events</button>
                    </div>
                </form>
                <form action="/private-event" method="GET" class="col-md-6">
                    <div class="form-group">
                        <button type="submit" class="btn btn-default">Join Private Event</button>
                    </div>
                </form>
            </div>

        </main>
    </div>

    <% include ../partials/scripts %>
</body>

</html>
