<!DOCTYPE html>
<html lang="en">

<head>
    <% include ../partials/head %>
</head>

<body>
    <div class="container">
        <header>
            <h2><%= pageTitle %></h2>
            </hr>
        </header>
        <main>

            <div class="row">
                <div class="col-md-6">
                    <div class="login">
                        <h2> Login </h2>
                        <form method="POST" action="login">
                            <label for="username" class="col-sm-4 control-label"> Username: </label>
                            <div class="col-sm-8">
                                <input id="username" type="text" name="username" />
                                <br/>
                            </div>

                            <label for="password" class="col-sm-4 control-label"> Password: </label>
                            <div class="col-sm-8">
                                <input id="password" type="password" name="password" />
                                <br/>
                            </div>

                            <input type="submit" id="login" value="Login" />
                        </form>

                    </div>
                    <div class="signup">
                        <h2> Sign Up </h2>
                        <form method="POST" action="signup">
                            <label for="username-signup" class="col-sm-4 control-label"> Username: </label>
                            <div class="col-sm-8">
                                <input id="username-signup" type="text" name="username" />
                                <br/>
                            </div>

                            <label for="password-signup" class="col-sm-4 control-label"> Password: </label>
                            <div class="col-sm-8">
                                <input id="password-signup" type="password" name="password" />
                                <br/>
                            </div>

                            <input type="submit" id="signup" value="Sign Up" />
                        </form>
                    </div>
                </div>
                <div class="col-md-6">
                    <img src="http://az616578.vo.msecnd.net/files/2016/04/10/635959145221156246-1374878879_partying.jpg">
                </div>

            </div>



        </main>
    </div>

    <% include ../partials/scripts %>
</body>

</html>
